.container-check {
    height: 100vh;
    display: flex;
    margin: auto;
    justify-content: center;
    width: 100vw;
    align-items: center;
}
img.bg-payment {
    height: 100vh;
    object-fit: cover;
}
button.stripe-button-el {
    position: relative;
    width: 200px;
    top: -160px;
    right: 400%;
    height: 100px;
    background: #e2ce24;
    border: 6px solid #159429;
}
button.stripe-button-el span{
    display: block;
    min-height: 30px;
    background: #e2ce24;
    border-color: transparent;
    outline: none;
    font-size: 22px;
    color: #000;
}
img.bg-home {
    position: absolute;
    width: 60px;
    height: 60px;
    object-fit: contain;
    top: 8%;
    left: 3%;
}
